{% extends 'layouts/base.html' %}
{% load static%}

{% block navigation %}
<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between py-3 px-3 bg-gray-300 rounded-3">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">School Members</h3>
                <div class="nk-block-des text-soft">
                    <p>{{ user.member.school }}</p>
                </div>
            </div><!-- .nk-block-head-content -->
            <!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <div class="toggle-expand-content" data-content="pageMenu">
                        <ul class="nk-block-tools g-3">
                            {% comment %} <li class="nk-block-tools-opt">
                                <a href="{%url 'school-member-create' %}" class="btn btn-primary">
                                    <em class="icon ni ni-property-add"></em>
                                    <span>New Member</span>
                                </a>
                            </li> {% endcomment %}
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    
{% endblock%}

{% block content%}
<div class="nk-block nk-block-lg">
    <div class="card card-bordered card-preview">
        <div class="card-inner">
            <table class="datatable-init-export nowrap table" data-export-title="Export">       
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>ROLE</th>
                        <th>OCCUPATION</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in school_members %}
                    <tr>
                        <td>{{ obj.first_name }} {{ obj.last_name }}</td>
                        <td>{{ obj.role }}</td>  
                        <td>{{ obj.occupation }}</td>  
                        <td class="nk-tb-col nk-tb-col-tools">
                            <ul class="nk-tb-actions gx-1">
                                <li>
                                    <div class="drodown">
                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="{% url 'school-member-details' obj.pk %}"><em class="icon ni ni-text-rich"></em><span>Details</span></a></li>
                                                {% comment %} <li><a href="{% url 'school-member-update' obj.pk %}"><em class="icon ni ni-edit"></em><span>Update</span></a></li> {% endcomment %}
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr> 
                    
                    {% endfor %}               
                </tbody>
            </table>
        </div>
    </div><!-- .card-preview -->
</div> <!-- nk-block -->

{% endblock %}